doctype html
html(lang="en")
  head
    link(
      href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700',
      rel='stylesheet',
      type='text/css'
    )
    title Pug - Template Engine
  body
    h1 Pug - Template Engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
